<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <!-- <div class="col-md-12"> -->

    <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="goToHome()" routerLink="/">Home</a>
        
    </div>
    <span flex></span>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/register">Register</a>
  </div>
  <!-- </div> -->
</nav>

<!-- main app container -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
